<div class="container">
  <h1 class="mt-5 mb-5 text-center text-primary"><b>Login System in Node.js Express</b></h1>
  <button type="button" class="btn btn-success">
    <a href="<%= loginUrl %>">Login</a>
  </button>
  <button type="button" class="btn btn-warning">
    <a href="<%= registerUrl %>">Register</a>
  </button>
</div>