<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/styles.ejs') %>
    <title>Login System in Node.js Express</title>
</head>
<body>
<%- body %>
<%- include('../partials/scripts.ejs') %>
</body>
</html>
