<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= bootstrapCssUrl %>">
    <title>Login System in Node.js Express</title>
</head>
<body>
<%- body %>
<%- include('../partials/scripts.ejs') %>
</body>
</html>